<%= render 'navbar' %>
<div class="row pt-5">
  <div class="col-6">
    <%= @todos.each do |t| %>
      <% if t.completed == true %>
        <%= t.completed %>
      <% end %>
    <% end %>
  </div>
  <div class="col-6">
    <%= @todos.each do |t| %>
      <% if t.completed == false %>
        <%= t.completed %>
      <% end %>
    <% end %>
  </div>
</div>
